.sidenav {
    width: 250px;
    height:100vh;
    ul{
      list-style-type: none;
      li{
        padding-left:32px;
        height:48px;
        display:flex;
        align-items:center;
        gap:16px;
        cursor:pointer;
        &:hover{
          background-color:rgba(0,0,0,0.2);
        }
      }
    }
  }

.logo-container{
  display:flex;
  align-items:center;
  justify-content: center;
  border-bottom:1px solid white;
  margin-left:32px;
  margin-right:32px;
  min-height:63px;
}

.mat-drawer-container{
  height:100vh;
}

.router-container{
  margin-top:32px;
  margin-left:96px;
  margin-right:96px;
}

.logo{
  height:62px;
  object-fit:contain;
}